@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Yellowtail&display=swap');

*,
*::before,
*::after,
.row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border: none;
    -webkit-box-shadow: 0 0 55px rgb(170, 1, 1);
    box-shadow: 0 0 55px rgb(170, 1, 1);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cursorInner {
    position: fixed;
    z-index: 1;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 10%;
    -ms-transform-origin: 10%;
    transform-origin: 10%;
}

body {
    cursor: none;
    height: 100vh;
    background-image: url(./Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.transparent {
    background-color: rgba(39, 0, 0, 0.384);
    height: inherit;
}

.header-right,
.header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    color: #fff;
}

.header-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 2em 0 0 6em;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.a {
    font-family: 'Kalam', cursive;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    font-size: 2em;
    position: relative;
    left: 0.65em;
    font-weight: 900;
    color: #f71d0c;
    text-shadow: 10px 4px 30px #ffffff;
}

.s {
    font-family: 'Yellowtail', cursive;
    position: relative;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    font-size: 5em;
    color: #c92735;
    text-shadow: 10px 4px 25px #ebadadbe;
}

.a:before {
    position: absolute;
    content: '[';
    left: 10px;
    opacity: 0;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.s:after {
    position: absolute;
    content: ']';
    right: 10px;
    opacity: 0;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.logo:hover>.a:before {
    opacity: 1;
    left: -1em;
    color: #ffffff65;
}

.logo:hover>.s:after {
    opacity: 1;
    right: -0.5em;
    color: #ffffff65;
}

.header-right {
    padding: 2em 0 0 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.music {
    background-color: transparent;
    position: relative;
    bottom: 1.4em;
    border: none;
    color: #fff;
    font-size: 2em;
    margin-right: 3em;
    font-family: 'Kalam', cursive;
}

.music:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    content: '';
    position: absolute;
    cursor: none;
    width: 1.3em;
    height: .1em;
    bottom: 0;
    top: -1em;
    left: 1em;
    background-image: -o-radial-gradient(circle, #f71d0c, #f80f25, #f70437, #f40346, #f00d54);
    background-image: radial-gradient(circle, #f71d0c, #f80f25, #f70437, #f40346, #f00d54);
}

i {
    font-size: .8em;
    font-weight: normal;
    cursor: none;
}

.sound {
    background-color: transparent;
    position: relative;
    border: none;
    color: #fff;
    font-size: .6em;
    font-weight: normal;
    cursor: none;
    font-family:'Kalam', cursive;
}

.sound:before,
.sound:after {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    font-size: 2.5em;
    bottom: -.2em;
    color: #f71d0c;
}

.sound:before {
    content: "-";
    left: 50%;
}

.sound:after {
    content: "-";
    right: 50%;
}

.sound:hover:before {
    left: -20px;
    opacity: 1;
}

.sound:hover:after {
    right: -20px;
    opacity: 1;
}

.spark {
    position: relative;
    top: 4em;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    font-family:'Kalam', cursive;
}

.spark:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    content: '';
    position: absolute;
    width: 6em;
    height: .1em;
    bottom: 0;
    top: -3.5em;
    left: -2.3em;
    background-image: -o-radial-gradient(circle, #f71d0c, #f80f25, #f70437, #f40346, #f00d54);
    background-image: radial-gradient(circle, #f71d0c, #f80f25, #f70437, #f40346, #f00d54);
}

main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #990014;
    font-family: 'Kalam', cursive;
    height: 45vh;
}

.title_one {
    display: block;
    position: relative;
    width: 50%;
    font-size: 6em;
    font-weight: 800;
    margin: 0;
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
}

.title_one>span:before {
    content: '';
    position: absolute;
    width: 1em;
    height: .1em;
    top: 1.5em;
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    background-color: rgb(243, 205, 205);
}

.title_one span {
    padding-left: .5em;
    font-size: .5em;
    font-weight: none;
}

.title_two {
    display: block;
    width: 50%;
    font-size: 5em;
    font-weight: 800;
    -webkit-transform: translateX(10%);
    -ms-transform: translateX(10%);
    transform: translateX(10%);
}

.title_two span {
    font-size: .6em;
    font-weight: none;
    padding-left: 2em;
}

.row:nth-child(3) {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 2em;
    font-family: 'Kalam';
    padding-top: 1.3em;
}

.row:nth-child(3) .about {
    width: 6em;
    height: 2em;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border-radius: 15px;
    border: none;
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
    font-family: 'Yellowtail', cursive;
    background-image: -webkit-gradient(linear, left top, right top, from(#f71d0c), color-stop(#f80f25), color-stop(#f70437), color-stop(#f40346), to(#f00d54));
    background-image: -o-linear-gradient(left, #f71d0c, #f80f25, #f70437, #f40346, #f00d54);
    background-image: linear-gradient(to right, #f71d0c, #f80f25, #f70437, #f40346, #f00d54);
    cursor: none;
}

.row:nth-child(3) .about:hover {
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
    color: #fff;
}

.mas {
    position: absolute;
    width: 6em;
    color: #fff;
}

.mas::after {
    content: '';
    border: 1px solid red;
    background-color: #f08dac48;
    border-radius: 15px;
    position: absolute;
    bottom: -0.1em;
    top: 0;
    left: 0.5em;
    width: 5em;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

footer {
    text-align: end;
    color: #fff;
    padding: 2em 0 0 0;
}

footer .fas {
    padding: 0 4em 0 0;
}

@media screen and (max-width: 535px) {

    footer {
        text-align: center;
    }

    .logo,
    .mas,
    .about {
        font-size: 0.8em;
    }

    .logo .a{
        left: 0.6em;
    }

    .title_one,
    .title_two {
        text-align: center;
        display: block;
        width: 80%;
        font-size: 3.5em;
    }

    .spark {
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 6em;
        font-size: 0.8em;
    }

    .music {
        display: none;
    }

    footer .fas {
        padding: 0;
        margin-top: 3em;
    }
}

@media screen and (min-width: 375px) and (max-width: 534px) {
    html {
        height: auto;
        padding: 0;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        height: 25vh;
    }

    main {
        height: 30vh;
    }

    footer {
        text-align: center;
    }

    .logo,
    .mas,
    .about {
        font-size: 0.8em;
    }

    .title_one,
    .title_two {
        text-align: center;
        font-size: 2.2em;
    }

    .spark {
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 6em;
        font-size: 0.8em;
    }

    .music {
        display: none;
    }

    footer .fas {
        padding: 0;
        margin-top: 3em;
    }
}

@media screen and (min-width: 534px) and (max-width: 575.98px) {
    html {
        height: 100%;
        padding: 0;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        height: 25vh;
    }

    main {
        height: 30vh;
    }

    footer {
        text-align: center;
    }

    .logo,
    .mas,
    .about {
        font-size: 0.8em;
    }

    .title_one,
    .title_two {
        text-align: center;
        font-size: 2.2em;
    }

    .spark {
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 6em;
        font-size: 0.8em;
    }

    .music {
        display: none;
    }

    footer .fas {
        padding: 0;
        margin-top: 3em;
    }
}

@media screen and (min-width: 575.99px) and (max-width: 600px) {
    html {
        height: 100%;
        padding: 0;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        height: 25vh;
    }

    main {
        height: 30vh;
    }

    footer {
        text-align: center;
    }

    .logo,
    .mas,
    .about {
        font-size: 1em;
    }

    .title_one,
    .title_two {
        text-align: center;
        display: block;
        width: 80%;
        font-size: 3em;
        padding: 0;
    }

    .spark {
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 6em;
        font-size: 1em;
    }

    .music {
        display: none;
    }

    footer .fas {
        padding: 0;
        margin-top: 4em;
    }
}

@media screen and (min-width: 601px) and (max-width: 833px) {
    footer {
        text-align: center;
    }

    .title_one,
    .title_two {
        display: block;
        width: 80%;
        font-size: 4em;
        padding: 0;
    }

    .spark {
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 6em;
        font-size: 1em;
    }

    footer .fas {
        padding: 0;
        margin-top: 4em;
    }
}

@media screen and (min-width: 834px) and (max-width: 992px) {
    html {
        height: 100%;
        padding: 0;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        height: 25vh;
    }

    footer {
        text-align: center;
    }

    .title_one,
    .title_two {
        display: block;
        width: 80%;
    }

    .spark {
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 6em;
        font-size: 1em;
    }

    .music {
        bottom: 7em;
        margin-left: -5em;
    }

    footer .fas {
        padding: 0;
        margin-top: 4em;
    }
}

@media screen and (min-width: 993px) and (max-width:1332px) {

    .title_one,
    .title_two {
        display: block;
        width: 80%;
    }

    .spark {
        position: relative;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 6em;
        font-size: 1em;
    }
}