/* Default styles */
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Yellowtail&family=Carter+One&display=swap');

:root {
    --text-color: #F0E2AB;
    --fixed: fixed;
    --absolute: absolute;
    --accent-color: #a9093ea8;
    --center-transform1: translate(-50%, -50%);
    --center-transform2: translate(-50%, 50%);
    --center-transform3: translate(-50%, 0);
    --font-size-l: 30px;
    --font-size-m: 20px;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-align: center;
}



/* Repeating styles */
.cursor,
.cursorInner {
    position: fixed;

    left: 0;
    top: 0;

    border-radius: 50%;
    pointer-events: none;
}

.commingsoon,
span {
    position: absolute;

    left: 50%;

    -webkit-transform: var(--center-transform2);
    -ms-transform: var(--center-transform2);
    transform: var(--center-transform2);
}

h4,
h3 {
    position: absolute;

    left: 50%;

    -webkit-transform: var(--center-transform3);
    -ms-transform: var(--center-transform3);
    transform: var(--center-transform3);

    font-size: var(--font-size-l);
    color: var(--text-color);
}



/* Main styles */
body {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;

    background-color: #1b181f;
    cursor: none;
}

.cursor {
    width: 25px;
    height: 25px;

    border: none;
    -webkit-box-shadow: 0 0 40px var(--accent-color);
    box-shadow: 0 0 40px var(--accent-color);
    -webkit-transform: var(--center-transform1);
    -ms-transform: var(--center-transform1);
    transform: var(--center-transform1);
}

.cursorInner {
    width: 8px;
    height: 8px;

    z-index: 1;

    background-color: var(--text-color);
    -webkit-transform: var(--center-transform1);
    -ms-transform: var(--center-transform1);
    transform: var(--center-transform1);
    -webkit-transform-origin: 10%;
    -ms-transform-origin: 10%;
    transform-origin: 10%;
}

.middle {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.commingsoon {
    top: 0;

    width: 530px;
    height: 500px;

    z-index: -1000;

    background: #1b181f;
    border-radius: 50%;
    -webkit-box-shadow:
        0px -75px 50px -5px var(--accent-color),
        0px -40px 25px -20px var(--text-color),
        -20px -65px 15px -10px #1b083e,
        20px -65px 15px -10px #1b083e;
    box-shadow:
        0px -75px 50px -5px var(--accent-color),
        0px -40px 25px -20px var(--text-color),
        -20px -65px 15px -10px #1b083e,
        20px -65px 15px -10px #1b083e;
}

span {
    top: 50%;

    color: var(--text-color);
    letter-spacing: 1em;
    font-size: 40px;
    font-weight: bolder;
    font-family: Carter One;
    text-transform: capitalize;
    text-shadow: 0px 0px 35px var(--accent-color);
}

h4 {
    top: 80%;

    text-shadow: 0px 0px 35px var(--text-color);
}

h3 {
    top: 85%;
}

a {
    text-decoration: underline;
    color: var(--accent-color);
    cursor: none;
}

a:hover {
    color: #c51651a8;
}



/* @media */
@media screen and (min-width:769px) and (max-width:1550px) {
    .commingsoon {
        width: 500px;
        height: 500px;
    }

    span {
        -webkit-transform: translate(-48%, 100%);
        -ms-transform: translate(-48%, 100%);
        transform: translate(-48%, 100%);

        font-size: 24px;
    }

    h4,
    h3,
    a {
        font-size: var(--font-size-m);
    }
}

@media screen and (max-width:768px) {
    .commingsoon {
        width: 380px;
        height: 380px;
    }

    span {
        top: 38%;
        left: 52%;

        font-size: 26px;
    }

    h4,
    h3,
    a {
        font-size: var(--font-size-m);
    }

    h4 {
        top: 65%;
    }

    h3 {
        top: 70%;
    }
}