@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Yellowtail&display=swap');

*,
*::before,
*::after,
.row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
  scroll-behavior: smooth;
}

.cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  border: none;
  -webkit-box-shadow: 0 0 55px rgb(255, 1, 1);
  box-shadow: 0 0 55px rgb(255, 1, 1);
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 1000;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition: all 0.4s cubic-bezier(0, 0, 0.58, 1) 0s;
  transition: all 0.4s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursorInner {
  position: fixed;
  z-index: 1;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 1000;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: 10%;
  -ms-transform-origin: 10%;
  transform-origin: 10%;
}

body {
  height: 100vh;
}

.sidenav {
  height: 100%;
  width: 14em;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(rgb(0, 0, 0)), to(transparent));
  background: -o-linear-gradient(left, rgb(0, 0, 0), rgb(0, 0, 0), transparent);
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), transparent);
}

.links {
  font-family: 'kalam';
  font-size: 1.3em;
  padding: 1em;
}

.links a {
  text-align: center;
  padding: 1em;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#ff0019), color-stop(#ff0037), color-stop(#9e0631), to(#700024));
  background: -o-linear-gradient(left, #ff0019, #ff0037, #9e0631, #700024);
  background: linear-gradient(to right, #ff0019, #ff0037, #9e0631, #700024);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.links a:hover {
  border-color: #9e0631;
  border-radius: 5px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  height: 15.5vh;
  margin: 0 0 1em 0;
}

.name {
  color: rgb(255, 196, 196);
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.4em;
  font-family: 'Kalam';
  padding: 2em 0 1em 0;
  margin: -0.7em 1em 8em 0;
  position: relative;
}

.name:after {
  content: '';
  position: absolute;
  top: 4em;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 15vh;
}

.a {
  height: 20%;
  right: 0.2em;
  font-family: 'Kalam', cursive;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  font-size: 2em;
  position: relative;
  font-weight: 900;
  top: 0.6em;
  color: #f71d0c;
  text-shadow: 10px 4px 30px #ffffff;
}

.s {
  height: 20%;
  bottom: 0.2em;
  left: -0.5em;
  font-family: 'Yellowtail', cursive;
  position: relative;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font-size: 5em;
  color: #c92735;
  text-shadow: 10px 4px 25px #ebadadbe;
}

.a:before {
  position: absolute;
  content: '[';
  left: 10px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.s:after {
  position: absolute;
  content: ']';
  right: 10px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.logo:hover>.a:before {
  opacity: 1;
  left: -1em;
  color: #ffffff65;
}

.logo:hover>.s:after {
  opacity: 1;
  right: -0.5em;
  color: #ffffff65;
}

.sidenav2 {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 1em;
  font-size: 0.8em;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(transparent));
  background: -o-linear-gradient(top, rgb(0, 0, 0), transparent);
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}

.logo2 {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  height: 15vh;
}

.links2 {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  font-family: 'kalam';
  font-size: 1.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo2,
.links2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.links2 a {
  text-decoration: none;
  margin: 0 1em;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  font-size: 1.3em;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#ff0019), color-stop(#ff0037), color-stop(#9e0631), to(#700024));
  background: -o-linear-gradient(left, #ff0019, #ff0037, #9e0631, #700024);
  background: linear-gradient(to right, #ff0019, #ff0037, #9e0631, #700024);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links2 a:hover {
  border-bottom: 2px solid #fff;
  border-color: #ffffff;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.a2 {
  font-family: 'Kalam', cursive;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  font-size: 2em;
  position: relative;
  right: 1.9em;
  top: 0.5em;
  font-weight: 900;
  text-shadow: 10px 4px 10px #ff0000;
  color: #f71d0c;
}

.s2 {
  font-family: 'Yellowtail', cursive;
  position: relative;
  right: 1em;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font-size: 5em;
  text-shadow: 10px 4px 15px #eccdcdbe;
  color: #c92735;
}

.a2:before {
  position: absolute;
  content: '[';
  left: 10px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.s2:after {
  position: absolute;
  content: ']';
  right: 10px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.logo2:hover>.a2:before {
  opacity: 1;
  left: -1em;
  color: #ffffff65;
}

.logo2:hover>.s2:after {
  opacity: 1;
  right: -0.5em;
  color: #ffffff65;
}

header {
  position: relative;
  overflow: hidden;
  padding-left: 10em;
  height: 100vh;
  width: 100%;
  background-color: #141414;
}

.aboutTitle {
  font-size: 2.8em;
  letter-spacing: 2px;
  height: 90vh;
  margin-left: 6em;
  font-weight: bold;
  font-family: 'Kalam';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background-color: transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#8a4047), color-stop(#9b0113), color-stop(#700011), to(#9c0000));
  background: -o-linear-gradient(left, #ffffff, #8a4047, #9b0113, #700011, #9c0000);
  background: linear-gradient(to right, #ffffff, #8a4047, #9b0113, #700011, #9c0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: 1s linear 0s slideInFromLeft normal running;
  animation: 1s linear 0s slideInFromLeft normal running;
}

.aboutTitle i {
  font-size: 0.8em;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

main {
  padding: 4em 0 0 10em;
  background-color: #141414;
  color: #fff;
}

.about {
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about .myself,
.about .work {
  max-width: 80%;
}

.about .programming {
  max-width: 60%;
}

.about .work a {
  text-decoration: underline;
}

.about h4 {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: 1.2em;
  margin-bottom: -1.2em;
  opacity: 0;
  font-family: 'Kalam';
  color: #bb8080;
}

.about h1,
.levels h2 {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  -webkit-transition: 1.8s;
  -o-transition: 1.8s;
  transition: 1.8s;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  font-family: 'Yellowtail';
}

.about h1[data-scroll='in'],
.levels h2[data-scroll='in'] {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.about h1:before,
.levels h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.about h1[data-scroll='in']:before,
.levels h2[data-scroll='in']:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.about h1:after,
.levels h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.2em;
  border: 1px solid #8f002d;
  width: 50px;
}

.about p {
  font-size: 1.8em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: 1em;
  opacity: 0;
  font-family: 'Kalam';
}

.about p[data-scroll='in'],
.about h4[data-scroll='in'] {
  opacity: 1;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.levels {
  width: 90%;
  margin: 2em auto 0 auto;
  padding: 3em 3em 3em;
  border: 1px #f5f5f55b;
  border-radius: 10px;
  -webkit-box-shadow: 5px 20px 30px #16080896;
  box-shadow: 5px 20px 30px #16080896;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.2em 0 0.2em 0;
  font-family: 'Kalam';
}

.bar {
  position: relative;
  border: 2px solid #8f002d;
  padding: 0.5em;
  margin-bottom: 1.2em;
  border-radius: 20px;
}

.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ff0019), color-stop(#ff0019), color-stop(#ff0015), color-stop(#d30527), to(#8f002d));
  background: -o-linear-gradient(left, #ff0019, #ff0019, #ff0015, #d30527, #8f002d);
  background: linear-gradient(to right, #ff0019, #ff0019, #ff0015, #d30527, #8f002d);
}

#html-bar {
  -webkit-animation: html-fill 2s forwards;
  animation: html-fill 2s forwards;
}

@-webkit-keyframes html-fill {
  100% {
    width: 100%;
  }
}

@keyframes html-fill {
  100% {
    width: 100%;
  }
}

#css-bar {
  -webkit-animation: css-fill 2s forwards;
  animation: css-fill 2s forwards;
}

@-webkit-keyframes css-fill {
  100% {
    width: 100%;
  }
}

@keyframes css-fill {
  100% {
    width: 100%;
  }
}

#js-bar {
  -webkit-animation: js-fill 2s forwards;
  animation: js-fill 2s forwards;
}

@-webkit-keyframes js-fill {
  100% {
    width: 72%;
  }
}

@keyframes js-fill {
  100% {
    width: 72%;
  }
}

#ts-bar {
  -webkit-animation: ts-fill 2s forwards;
  animation: ts-fill 2s forwards;
}

@-webkit-keyframes ts-fill {
  100% {
    width: 10%;
  }
}

@keyframes ts-fill {
  100% {
    width: 10%;
  }
}

#jQuery-bar {
  -webkit-animation: jQuery-fill 2s forwards;
  animation: jQuery-fill 2s forwards;
}

@-webkit-keyframes jQuery-fill {
  100% {
    width: 60%;
  }
}

@keyframes jQuery-fill {
  100% {
    width: 60%;
  }
}

#ReactJS-bar {
  -webkit-animation: ReactJS-fill 2s forwards;
  animation: ReactJS-fill 2s forwards;
}

@-webkit-keyframes ReactJS-fill {
  100% {
    width: 60%;
  }
}

@keyframes ReactJS-fill {
  100% {
    width: 60%;
  }
}


#Ruby-bar {
  -webkit-animation: Ruby-fill 2s forwards;
  animation: Ruby-fill 2s forwards;
}

@-webkit-keyframes Ruby-fill {
  100% {
    width: 50%;
  }
}

@keyframes Ruby-fill {
  100% {
    width: 50%;
  }
}

#MySQL-bar {
  -webkit-animation: MySQL-fill 2s forwards;
  animation: MySQL-fill 2s forwards;
}

@-webkit-keyframes MySQL-fill {
  100% {
    width: 50%;
  }
}

@keyframes MySQL-fill {
  100% {
    width: 50%;
  }
}

#MongoDB-bar {
  -webkit-animation: MongoDB-fill 2s forwards;
  animation: MongoDB-fill 2s forwards;
}

@-webkit-keyframes MongoDB-fill {
  100% {
    width: 55%;
  }
}

@keyframes MongoDB-fill {
  100% {
    width: 55%;
  }
}

#Firebase-bar {
  -webkit-animation: Firebase-fill 2s forwards;
  animation: Firebase-fill 2s forwards;
}

@-webkit-keyframes Firebase-fill {
  100% {
    width: 23%;
  }
}

@keyframes Firebase-fill {
  100% {
    width: 23%;
  }
}

.contacts {
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.8em;
  font-family: 'Yellowtail';
}

.contacts h2 {
  position: relative;
}

.contacts h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.2em;
  border: 1px solid #8f002d;
  width: 50px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3em;
  padding: 1em;
  letter-spacing: 0.8em;
}

.social i {
  color: whitesmoke;
  -webkit-transition: 200ms all;
  -o-transition: 200ms all;
  transition: 200ms all;
}

.social i:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  color: #8f002d;
}

@media screen and (min-width: 375px) and (max-width: 475px) {
  .sidenav {
    display: none;
  }

  .sidenav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .logo2 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 0.5em;
  }

  .a2 {
    right: 0;
    left: 0.6em;
  }

  .s2 {
    right: 0;
  }

  .links2 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    font-size: 0.8em;
  }

  header {
    position: static;
    padding-left: 0;
    height: 100vh;
  }

  .aboutTitle {
    font-size: 1.4em;
    margin-left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#ffffff), color-stop(#9b0113), color-stop(#af1b31), to(#be2020));
    background: -o-linear-gradient(left, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    background: linear-gradient(to right, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main {
    padding: 0 0 0 0;
  }

  .about {
    height: auto;
    font-size: 0.6em;
  }

  .about h1 {
    font-size: 2em;
    letter-spacing: 2px;
  }

  .myself,
  .programming,
  .work {
    margin: 2em auto;
  }

  .levels {
    font-size: 0.8em;
  }

  .contacts {
    font-size: 0.5em;
  }
}

@media screen and (min-width: 475px) and (max-width: 553px) {
  .sidenav {
    display: none;
  }

  .sidenav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .logo2 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 0.8em;
  }

  .a2 {
    right: 0;
    left: 0.6em;
  }

  .s2 {
    right: 0;
  }

  .links2 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    font-size: 0.8em;
  }

  header {
    position: static;
    padding-left: 0;
    height: 100vh;
  }

  .aboutTitle {
    font-size: 1.5em;
    margin-left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#ffffff), color-stop(#9b0113), color-stop(#af1b31), to(#be2020));
    background: -o-linear-gradient(left, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    background: linear-gradient(to right, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main {
    padding: 0 0 0 0;
  }

  .about {
    height: auto;
    font-size: 0.5em;
  }

  .myself,
  .programming,
  .work {
    margin: 2em auto;
  }

  .about h1 {
    font-size: 3em;
    letter-spacing: 2px;
  }

  .levels {
    font-size: 0.8em;
  }

  .contacts {
    font-size: 0.5em;
  }
}

@media screen and (min-width: 554px) and (max-width: 590px) {
  .sidenav {
    display: none;
  }

  .sidenav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .logo2 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .a2 {
    right: 0;
    left: 0.6em;
  }

  .s2 {
    right: 0;
  }

  .links2 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    font-size: 1.2em;
  }

  header {
    position: static;
    padding-left: 0;
    height: 100vh;
  }

  .aboutTitle {
    font-size: 2em;
    margin-left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#ffffff), color-stop(#9b0113), color-stop(#af1b31), to(#be2020));
    background: -o-linear-gradient(left, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    background: linear-gradient(to right, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main {
    padding: 0 0 0 0;
  }

  .about {
    height: auto;
    font-size: 0.6em;
  }

  .about h1 {
    font-size: 2em;
    letter-spacing: 2px;
  }


  .myself,
  .programming,
  .work {
    margin: 2em auto;
  }

  .contacts {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 591px) and (max-width: 733px) {
  .sidenav {
    display: none;
  }

  .sidenav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .links2 {
    font-size: 1.2em;
  }

  header {
    position: static;
    padding-left: 0;
    height: 100vh;
  }

  .aboutTitle {
    font-size: 2em;
    margin-left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#ffffff), color-stop(#9b0113), color-stop(#af1b31), to(#be2020));
    background: -o-linear-gradient(left, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    background: linear-gradient(to right, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main {
    padding: 0 0 0 0;
  }

  .about {
    height: auto;
  }

  .about h1 {
    font-size: 2em;
    letter-spacing: 2px;
  }


  .myself,
  .programming,
  .work {
    margin: 2em auto;
  }
}

@media screen and (min-width: 734px) and (max-width: 990px) {
  .sidenav {
    display: none;
  }

  .sidenav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header {
    position: static;
    padding-left: 0;
    height: 100vh;
    width: 100%;
  }

  .aboutTitle {
    font-size: 2em;
    margin-left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#ffffff), color-stop(#9b0113), color-stop(#af1b31), to(#be2020));
    background: -o-linear-gradient(left, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    background: linear-gradient(to right, #ffffff, #ffffff, #9b0113, #af1b31, #be2020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main {
    padding: 0 0 0 0;
  }

  .about {
    height: auto;
  }

  .about h1 {
    font-size: 2em;
  }

  .myself,
  .programming,
  .work {
    margin: 2em auto;
  }
}